*,

*::after,

*::before {

  margin: 0;

  padding: 0;

 box-sizing: border-box;

}

html {

  font-family: "Inter", sans-serif;

  color: gray;

  margin: 0%;

  padding: 0%;

}

body {

  margin: 0%;

  padding: 0%;

  background-color: #fff;

  font-family: 'Shippori Antique B1', sans-serif;

  font-size: 16px;

 writing-mode: horizontal-tb;

}

a {

  list-style-type: none;

  text-decoration: none;

 color: #0b0c0d;

}
@import "variables"; 
/* ---------------------PC--------------------- */
@media (min-width: 1024px){
    .fondo{
        background-image: url(../Img/cuero.jpg);
        height: 100%;
        .titulo__Principal{
            @include titulosPrincipal;
            font-size: 50px;}
        .barra__Inicio{
            @include barraDeInicio;
            p{      
                .logo{
                    width: 100%;
                }          
                .enlaces__Navegacion{
                    font-size: 24px;
                    margin: 5% 18% 5% 18%;
                    @include enlacesNavegacion;
                    }
                }   
            }
        .segundo__Titulo{
            @include segundoTitulo;
            font-size: 40px;
        }
        .parrafo{
            @include marginPC;
            @include fuenteParrafos;
            font-size: 24px;
            color: $colorParrafo;
        }
        ul{
            .lista{
                @include listasPC;
            }
        }
        .articulos{
            @include articulosPC;
            @include marginPC;
            gap: 10%;
            font-size: 25px;
            .lubricante1{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante2{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante3{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante4{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
        }
        footer{
            @include footer;
            font-size: 24px;
            margin: 5% 18% 5% 18%;
        }
    }
}
/* ---------------------Tablets--------------------- */
@media (min-width:720px) and (max-width:1024px){
    .fondo{
        background-image: url(../Img/cuero.jpg);
        height: 100%;
        .titulo__Principal{
            @include titulosPrincipal;
            font-size: 40px;
        }
        .barra__Inicio{
            @include barraDeInicio;
            .logo{
                width: 80px;
                }
            .enlaces__Navegacion{
                @include enlacesNavegacion;
                font-size: 20px;
                margin: 5% 18% 5% 18%;
            }
        }
        .segundo__Titulo{
            @include segundoTitulo;
            font-size: 30px;
        }
        .parrafo{
            @include parrafosTablets;
            @include fuenteParrafos;
            font-size: 20px;
        }
        ul{
            .lista{
                @include listasTablets;
            }
        }
        .articulos{
            @include articulosTablets;
            @include marginTablets;
            gap: 10%;
            font-size: 20px;
            .lubricante1{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante2{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante3{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante4{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
        footer{
            font-size: 20px;
            margin: 5% 18% 5% 18%;
            @include footer;
            }
        }
    }
}
/* ---------------------Celulares--------------------- */
@media (min-width:320px) and (max-width:720px){
    .fondo{
        background-image: url(../Img/cuero.jpg);
        height: 100%;
        .titulo__Principal{
            @include titulosPrincipal;
            font-size: 30px;
            }
        .barra__Inicio{
            @include barraDeInicioCelulares;
            .logo{
                grid-row: 1/3;
                height: 100%;
            }
            .enlaces__Navegacion{
                font-size: 18px;
                margin: 5% 10% 5% 10%;
                @include enlacesNavegacion;
            }
        }
        .segundo__Titulo{
            @include segundoTitulo;
            font-size: 20px;
        }
        .parrafo{
            @include parrafoCelulares;
            @include fuenteParrafos;
            font-size: 18px;
        }
        ul{
            .lista{
                @include listasTablets;
            }
        }
        .articulos{
            @include articulosCelulares;
            @include marginCelulares;
            gap: 10%;
            font-size: 25px;
            .lubricante1{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante2{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante3{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
            .lubricante4{
                background: linear-gradient(70deg, rgb(109, 56, 65), rgb(73, 73, 143))
            }
        footer{
            font-size: 18px;
            margin: 5% 18% 5% 18%;
            @include footer;
            }
        }
    }
}