/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,

*::after,

*::before {

  margin: 0;

  padding: 0;

 box-sizing: border-box;

}

html {

  font-family: "Inter", sans-serif;

  color: gray;

  margin: 0%;

  padding: 0%;

}

body {

  margin: 0%;

  padding: 0%;

  background-color: #fff;

  font-family: 'Shippori Antique B1', sans-serif;

  font-size: 16px;

 writing-mode: horizontal-tb;

}

a {

  list-style-type: none;

  text-decoration: none;

 color: #0b0c0d;

}
/* ----------------PROPIEDADES DE TEXTO EN GENERAL---------------- */
.barra__Inicio {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 600px;
}

.titulo__Principal{
    text-align: center;
    color: rgb(128, 63, 63);
    background-color: rgba(7, 11, 29, 0.993);
    border: 3px solid black;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
.segundo__Titulo{
    color: rgb(128, 63, 63);
    background-color: rgb(7, 11, 29, 0.993);
    border: 3px solid black;
    font-size:  35px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
.contactos{
  color: rgb(117, 42, 42);
  }
#video{
    max-width: 100%;
    max-height: auto;
  }
.fondo{
  background-image: url(../Img/cuero.jpg);
  height: 100%;}
footer{
    color: rgb(117, 42, 42);
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    height: 100px;
  }

/* --------------------------Enlaces En General-------------------------- */

.enlaces__Navegacion{
    color: rgb(117, 42, 42);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-decoration: none;
  }
.enlaces__Articulos{
    color: rgb(117, 42, 42);
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
  }  

/* --------------------------Parrafos En General-------------------------- */

p{
    color: rgb(117, 42, 42);
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
  }
.parrafo__Index{
    display: grid;
    color: rgb(117, 42, 42);
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    grid-template-columns: 40% 60%;
    gap: 5%;
  }
.parrafo__Lubricantes{
    color: rgb(117, 42, 42);
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
  }
.parrafo__Juguetes{
    color: rgb(117, 42, 42);
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif; 
  }
.parrafo__Fetiches{
    color: rgb(117, 42, 42);
    font-family: 'Dancing Script', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
  }
.parrafo__Contactos{
    color:rgb(216, 155, 155) ;
    list-style-type: square;
  }

/* --------------------------Listas En General-------------------------- */

li{
  color:rgb(216, 155, 155) ;
  list-style-type: square;
}
.lista__Lubricantes{
    color:rgb(216, 155, 155) ;
    list-style-type: square;
  }

.lista__Juguetes{
    color:rgb(216, 155, 155) ;
    list-style-type: square;
  } 

.lista__Fetiches{
    color:rgb(216, 155, 155) ;
    list-style-type: square;
  }

/* --------------------------Articulos En General-------------------------- */
.articulos__Lubricantes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  /*  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    gap: 50px 50px;
    margin: 5% 15% 5% 15%;
    width: 100vw;
    height: 30%;
  }
.articulos__Index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10%;
    gap: 10px;}
/*  -------------------------------PROPIEDADES DE TEXTO PARA PC-------------------------------  */

@media (min-width:1024px){

  .logo{
    width: 100px;
  }
  .enlaces__Navegacion{
    font-size: 18px;
    margin: 5% 18% 5% 18%;
  }
  .enlaces__Articulos{
    font-size: 25px;
    margin: 20px;
  }
  .contactos{
  font-size: 25px;
  }
  footer{
    font-size: 25px;
    margin-top: 20px;
    margin-right: 40px;
  }

/* --------------------------Parrafos En PC-------------------------- */

  .parrafo__Index{
    font-size: 25px;
    margin: 5% 10% 5% 10%;
  }
  .parrafo__Lubricantes{
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .parrafo__Juguetes{
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 60px;  
  }
  .parrafo__Fetiches{
    font-size: 25px;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .parrafo__Contactos{
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
  }

  /* --------------------------Listas En PC-------------------------- */
  li{
    font-size: 25px;
  }
  .lista__Lubricantes{
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .lista__Juguetes{
    font-size: 25px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
  } 

  .lista__Fetiches{
    font-size: 25px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

   /* --------------------------Articulos Del Index En PC-------------------------- */

   .articulos__Index{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5%;
  margin: 5% 15% 5% 15%;
  height: 700px;
 }
  .promo1{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    grid-row: 1/3;
    font-size: 20px;
    text-align: center;
  }
  .promo2{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo3{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo4{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo5{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    font-size: 20px;
    grid-row: 2/4;
    grid-column: 3/4;
    text-align: center;
  }
  .promo6{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo7{
    background: linear-gradient(70deg, rgb(80, 41, 77), rgb(122, 122, 206));
    color: black;
    font-size: 20px;
    text-align: center;
  }

/* --------------------------Articulos De Lubricantes en PC-------------------------- */

  .articulos__Lubricantes{
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    gap: 5%;
    margin: 5% auto 5% auto;
    justify-content: center;
    height: 300px;
  }
  .lubricante1{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante2{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante3{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante4{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }

}

/*   -------------------------------PROPIEDADES DE TEXTO PARA TABLETS-------------------------------   */

@media (min-width:720px) and (max-width: 1024px){

  .logo{
    width: 80px;
  }
  .enlaces__Navegacion{
    font-size: 16px;
    margin: 5% 20% 5% 20%;
  }
  .enlaces__Articulos{
    font-size: 18px;
    margin: 20px;
  }
  .contactos{
  font-size: 20px;
  }
  footer{
    font-size: 18px;
    margin-top: 20px;
    margin-right: 40px;
  }

  /* --------------------------Parrafos En Tablets-------------------------- */

  .parrafo__Index{
    font-size: 18px;
    margin: 5% 10% 5% 10%;
  }
  .parrafo__Lubricantes{
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .parrafo__Juguetes{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 60px;  
  }
  .parrafo__Fetiches{
    font-size: 18px;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .parrafo__Contactos{
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
  }

    /* --------------------------Listas En Tablets-------------------------- */

  li{
    font-size: 18px;
  }
  .lista__Lubricantes{
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .lista__Juguetes{
    font-size: 18px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
  } 
  .lista__Fetiches{
    font-size: 18px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
 /* --------------------------Articulos Del Index En Tablets-------------------------- */
 .articulos__Index{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 3%;
  margin: 5%;
  height: 300px;
 }
  .promo1{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));
    color: black;
    grid-row: 1/3;
    font-size: 20px;
    text-align: center;
  }
  .promo2{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo3{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo4{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo5{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));  
    color: black;
    font-size: 20px;
    grid-row: 2/4;
    grid-column: 3/4;
    text-align: center;
  }
  .promo6{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));
    color: black;
    font-size: 20px;
    text-align: center;
  }
  .promo7{
    background: linear-gradient(70deg, rgb(104, 75, 80), rgb(118, 118, 219));
    color: black;
    font-size: 20px;
    text-align: center;
  }

  /* --------------------------Articulos De Lubricantes en Tablets-------------------------- */

  .articulos__Lubricantes{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 5%;
    margin: 5% auto 5% auto;
    justify-content: center;
    height: 400px;
  }
  .lubricante1{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante2{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante3{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante4{
    background:linear-gradient(70deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }

}

/*  -------------------------------PROPIEDADES DE TEXTO PARA CELULARES------------------------------- */

@media (min-width:320px) and (max-width:720px){

  .enlaces__Navegacion{
    font-size: 14px;
  }
  .enlaces__Articulos{
    font-size: 14px;
    margin: 20px;
  }
  .contactos{
  font-size: 14px;
  }
  .logo{
    width: 60px;
  }
  footer{
    font-size: 14px;
    margin-top: 20px;
    margin-right: 40px;
  }

    /* --------------------------Parrafos En Celulares-------------------------- */

  .parrafo__Index{
    display: block;
    font-size: 14px;
    gap: 5%;
    margin: 5% 10% 5% 10%;
  }
  .parrafo__Lubricantes{
    font-size: 14px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .parrafo__Juguetes{
    font-size: 14px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 60px;  
  }
  .parrafo__Fetiches{
    font-size: 14px;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .parrafo__Contactos{
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 60px;
  }

    /* --------------------------Listas En Celulares-------------------------- */

  li{
    font-size: 14px;
  }
  .lista__Lubricantes{
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .lista__Juguetes{
    font-size: 14px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
  } 
  .lista__Fetiches{
    font-size: 14px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .articulos__Lubricantes{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    margin: 5% 15% 5% 15%;
  }
  .lubricantes{
    width: 100%;
    height: 100%;
  }
 /* --------------------------Articulos Del Index En Celular-------------------------- */
 .articulos__Index{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 3%;
  margin: 5%;
  height: 300px;

 }
  .promo1{
    background: linear-gradient(70deg, rgb(105, 45, 55), rgb(82, 82, 172));
    color: black;
    grid-row: 1/3;
    font-size: 20px;
  }
  .promo2{
    background: linear-gradient(45deg, rgb(105, 45, 55), rgb(82, 82, 172));
    color: black;
    font-size: 20px;
  }
  .promo3{
    background: linear-gradient(45deg, rgb(105, 45, 55), rgb(82, 82, 172));
    color: black;
    font-size: 20px;
  }
  .promo4{
    background: linear-gradient(45deg, rgb(105, 45, 55), rgb(82, 82, 172));
    color: black;
    font-size: 20px;
  }
  .promo5{
    background: linear-gradient(45deg, rgb(105, 45, 55), rgb(82, 82, 172));  
    color: black;
    font-size: 20px;
    grid-row: 2/4;
    grid-column: 3/4;
  }
  .promo6{
    background: linear-gradient(45deg, rgb(105, 45, 55), rgb(82, 82, 172));
    color: black;
    font-size: 20px;
  }
  .promo7{
    background: linear-gradient(45deg, rgb(105, 45, 55), rgb(82, 82, 172));
    color: black;
    font-size: 20px;
  }

  /* --------------------------Articulos De Lubricantes en Celulares-------------------------- */

  .articulos__Lubricantes{
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 5%;
    margin: 5% auto 5% auto;
    justify-content: center;
    height: 300px;
  }
  .lubricante1{
    background:linear-gradient(45deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante2{
    background:linear-gradient(45deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante3{
    background:linear-gradient(45deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }
  .lubricante4{
    background:linear-gradient(45deg, rgb(85, 43, 72), rgb(60, 35, 100));
    color: black;
    text-align: center;
  }



}